apiVersion: batch/v1
kind: CronJob
metadata:
  name: agent-{{ target_app }}-{{time}}
  labels:
    target_app: "{{ target_app }}"
    time: "{{ time }}"
spec:
  schedule: "{{ schedule }}"
  suspend: false
  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 100
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      completions: 1
      parallelism: 1
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: cron
            image: localhost/oc:latest
            imagePullPolicy: IfNotPresent
            env:
            - name: HOME
              value: "/work"
            securityContext:
              seccompProfile:
                type: RuntimeDefault
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              runAsNonRoot: true
            command:
            - /bin/bash
            - -c
            - |
              git clone https://gitlab.com/yono1/microshift-gitops-demo.git
              oc apply -k microshift-gitops-demo/apps/app-manifests/{{ target_app }}
          serviceAccount: admin
          serviceAccountName: admin