apiVersion: batch/v1
kind: Job
metadata:
  name: agent-{{ target_app }}-{{time}}
  labels:
    target_app: "{{ target_app }}"
    time: "{{ time }}"
spec:
  template:
    spec:
      containers:
      - image: localhost/oc:latest
        imagePullPolicy: IfNotPresent
        command:
        - /bin/bash
        - -c
        - |
          git clone https://gitlab.com/yono1/microshift-gitops-demo.git
          oc apply -k microshift-gitops-demo/apps/app-manifests/{{ target_app }}
        name: job
        securityContext:
          seccompProfile:
            type: RuntimeDefault
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          runAsNonRoot: true
      dnsPolicy: ClusterFirst
      restartPolicy: OnFailure
      serviceAccount: admin
      serviceAccountName: admin
      terminationGracePeriodSeconds: 400